<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="error" fileName="/data/logs/jenkins-script-generator/error.log"
            filePattern="/data/logs/jenkins-script-generator/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz" Append="true" >
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20M"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="16"/>
        </RollingFile>
        <RollingFile name="log" fileName="/data/logs/jenkins-script-generator/log.log"
            filePattern="/data/logs/jenkins-script-generator/$${date:yyyy-MM}/log-%d{yyyy-MM-dd}-%i.log.gz" Append="true" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20M"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="16"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="error" />
            <AppenderRef ref="log" />
        </Root>
    </Loggers>
</Configuration>